html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fullscreen-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/packaging-materials1.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  background: rgba(255, 255, 255, 0.95);
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  width: 320px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.form-box h1 {
  margin-bottom: 1.5rem;
}

.form-box input#get {
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.form-box input#get:hover {
  background-color: #555;
}

.response-area {
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  max-height: 200px; /* da ne zauzima previše */
  overflow-y: auto;   /* scroll ako je puno teksta */
  text-align: left;   /* lista sastojaka čitljivija */
  font-size: 0.95rem;
}

.response-area p {
  margin: 0;
  line-height: 1.4;
}

.response-area h1 {
  margin-bottom: 1.5rem;
}